public/error.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Say Nihao</title>
    <!-- meta-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Школа китайского языка">
    <meta name="author" content="Ilya Lynd <ilya.lynd@gmail.com>">
    <meta name="theme-color" content="#fbf6f0">
    <!-- icon & css-->
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
  <link href="/assets/css/vendors.css?v=ec01399" rel="stylesheet"><link href="/assets/css/main.css?v=5b217af" rel="stylesheet"></head>
  <body>
    <div id="app">
<header>
  <div class="container">
    <div class="header content">
      <div class="header-logo"><a href="/" title="Say Nihao"><img src="/image/logo.svg" alt="Say Nihao"></a></div>
      <nav class="header-menu">
        <ul>
          <li><a href="/" title="Для взрослых">Для взрослых</a></li>
          <li><a href="/for_children.html" title="Для детей">Для детей</a></li>
          <li><a href="/for_businesses.html" title="Для компаний">Для компаний</a></li>
          <li><a href="#" data-action="open-popup" data-popup="request" title="Записаться">Записаться</a></li>
        </ul>
      </nav>
      <div class="header-menu-bar"><a href="#" data-action="open-menu" title="Открыть меню">
          <svg>
            <use href="/image/icon/menu.svg#menu"></use>
          </svg></a></div>
    </div>
  </div>
</header>
<!-- Menu-->
<div class="menu"><a class="menu__close" href="#" data-action="close-menu" title="Закрыть меню">
    <svg>
      <use href="/image/icon/close.svg#close"></use>
    </svg></a>
  <div class="container">
    <div class="main content">
      <nav class="main-menu">
        <ul>
          <li><a href="/" title="Для взрослых">Для взрослых</a></li>
          <li><a href="/for_children.html" title="Для детей">Для детей</a></li>
          <li><a href="/for_businesses.html" title="Компаниям">Компаниям</a></li>
        </ul>
      </nav>
      <div class="main-social">
        <div class="main-social__text">
          <p>Я в сети:</p>
        </div>
        <ul class="main-social-list">
          <li class="main-social-list__link"><a href="//www.instagram.com/saynihao" target="_blank" title="Инстаграм">
              <svg class="instagram">
                <use href="/image/icon/instagram.svg#instagram"></use>
              </svg></a></li>
          <li class="main-social-list__link"><a href="//vk.com/saynihao" target="_blank" title="ВКонтакте">
              <svg class="vk">
                <use href="/image/icon/vk.svg#vk"></use>
              </svg></a></li>
          <li class="main-social-list__link"><a href="tg://resolve?domain=saynihao" title="Телеграм">
              <svg class="telegram">
                <use href="/image/icon/telegram.svg#telegram"></use>
              </svg></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- Menu end-->
      <main>
        <section id="error">
          <div class="container">
            <div class="error content object-wrapper">
              <div class="error__image object">
                <picture>
                  <source srcset="/image/illustration/error.png 1x, /image/illustration/error@2x.png 2x, /image/illustration/error@3x.png 3x" media="(min-width: 768px)" type="image/png"><img src="/image/illustration/error.m.png" srcset="/image/illustration/error.m@2x.png 2x, /image/illustration/error.m@3x.png 3x" loading="eager" alt="illustration">
                </picture>
              </div>
              <div class="error__main object">
                <div class="error__title">
                  <h1>Ошибка 404</h1>
                </div>
                <div class="error__text">
                  <p>Проверьте правильность введенной&nbsp;ссылки.<br><a href="/" title="Вернуться назад">Вернуться назад</a></p>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
    </div>
    <!-- js-->
  <script defer src="/assets/js/vendors.js?v=41916ad"></script><script defer src="/assets/js/main.js?v=ef71b14"></script></body>
</html>

src/view/error.pug
extends include/main

block variables
  - let title = 'Say Nihao'
  - let description = 'Школа китайского языка'
  - let page = 'error'

block content
  section#error
    .container
      .error.content.object-wrapper
        .error__image.object
          picture
            source(srcset='/image/illustration/error.png 1x, /image/illustration/error@2x.png 2x, /image/illustration/error@3x.png 3x' media='(min-width: 768px)' type='image/png')
            img(src='/image/illustration/error.m.png' srcset='/image/illustration/error.m@2x.png 2x, /image/illustration/error.m@3x.png 3x' loading='eager' alt='illustration')
        .error__main.object
          .error__title
            h1 Ошибка 404
          .error__text
            p
              | Проверьте правильность введенной&nbsp;ссылки.
              br
              a(href='/' title='Вернуться назад') Вернуться назад
