src/view/index.pug
extends include/main

block variables
  - let title = 'Say Nihao'
  - let description = 'Школа китайского языка'
  - let page = 'index'

block content
  section#index
    .container
      .index.content.object-wrapper
        .index__main.object
          .index__title
            h1
              | Репетитор
              br
              | по 
              span китайскому
              br
              | языку онлайн
          .index__lead
            | Учись весело и просто,
            br
            | без&nbsp;переутомления и зубрежки.
          .index__button
            .button
              a(href='#' data-action='open-popup' data-popup='request' title='Записаться') Записаться
              a(href='#' data-action='open-popup' data-popup='request' title='Попробовать бесплатно') Попробовать бесплатно
        .index__image
          picture
            source(srcset='/image/illustration/main.png 1x, /image/illustration/main@2x.png 2x, /image/illustration/main@3x.png 3x' media='(min-width: 1248px)' type='image/png')
            img(src='/image/illustration/main.m.png' srcset='/image/illustration/main.m@2x.png 2x, /image/illustration/main.m@3x.png 3x' loading='eager' alt='illustration')
        .index__other
          img.icons(src='/image/illustration/icons.png' srcset='/image/illustration/icons@2x.png 2x, /image/illustration/icons@3x.png 3x' loading='eager' alt='illustration')
          img.stars_1(src='/image/illustration/stars_1.png' srcset='/image/illustration/stars_1@2x.png 2x, /image/illustration/stars_1@3x.png 3x' loading='eager' alt='illustration')
          img.stars_2(src='/image/illustration/stars_2.png' srcset='/image/illustration/stars_2@2x.png 2x, /image/illustration/stars_2@3x.png 3x' loading='eager' alt='illustration')
  section#steps
    .container
      .steps.content
        .steps__title.object-wrapper
          h2.object
            | Думаешь, что китайский сложный?
            br
            | Я докажу обратное
        ul.steps-list.object-wrapper
          li.steps-list__item.object
            .steps-list__video
              video(playsinline autoplay muted loop)
                source(src='/video/scene_1.mp4' type='video/mp4')
            .steps-list__title
              h4 Оставить заявку
            .steps-list__text
              p Чтобы записаться на&nbsp;бесплатный пробный урок, необходимо заполнить регистрационную форму на&nbsp;сайте и&nbsp;отправить заявку.
          li.steps-list__item.object
            .steps-list__video
              video(playsinline autoplay muted loop)
                source(src='/video/scene_2.mp4' type='video/mp4')
            .steps-list__title
              h4 Заказать бесплатный урок
            .steps-list__text
              p После получения заявки я&nbsp;свяжусь с&nbsp;тобой для&nbsp;уточнения деталей. Мы&nbsp;вместе подберем удобную дату и время и&nbsp;назначим пробный урок.
          li.steps-list__item.object
            .steps-list__video
              video(playsinline autoplay muted loop)
                source(src='/video/scene_3.mp4' type='video/mp4')
            .steps-list__title
              h4 Приступить к занятиям
            .steps-list__text
              p После прохождения пробного урока я&nbsp;отправлю тебе индивидуальный план обучения с пошаговыми инструкциями и&nbsp;рекомендациями.
  section#about
    .container
      .about.content.object-wrapper
        .about__photo
          img(src='/image/photo/liza_1.png' srcset='/image/photo/liza_1@2x.png 2x, /image/photo/liza_1@3x.png 3x' loading='lazy' alt='photo')
        .about__main.object
          .about__name
            h2
              | Елизавета
              br
              | Калигаева
          .about__vocation Твой лучший лаоши
          .about__text
            p На уроках китайского я отдаю предпочтение коммуникативному подходу. Большая часть занятия – не&nbsp;заучивание отдельных фраз и&nbsp;не&nbsp;зубрежка грамматики. Все это занимает только 20% времени занятия. Остальное – практика!
          .about__autograph
            img(src='/image/autograph.png' srcset='/image/autograph@2x.png 2x, /image/autograph@3x.png 3x' loading='lazy' alt='autograph')
        .about__photo
          img(src='/image/photo/liza_2.png' srcset='/image/photo/liza_2@2x.png 2x, /image/photo/liza_2@3x.png 3x' loading='lazy' alt='photo')
      .readiness.content
        ul.readiness-list.swiper-wrapper
          li.readiness-list__item.swiper-slide
            .readiness-list__icon
              svg.education
                use(href='/image/icon/education.svg#education')
            .readiness-list__title
              h4 Учитель по диплому
            .readiness-list__text
              p Окончила Минский Государственный Лингвистический Университет с&nbsp;отличием по&nbsp;специальности «Преподаватель китайского языка».
          li.readiness-list__item.swiper-slide
            .readiness-list__icon
              svg.practice
                use(href='/image/icon/practice.svg#practice')
            .readiness-list__title
              h4 Стажировалась в Китае
            .readiness-list__text
              p В 2019 году я улетела в Китай, где прошла языковую стажировку в&nbsp;Китайском Университете Политических Наук и Права.
          li.readiness-list__item.swiper-slide
            .readiness-list__icon
              svg.approach
                use(href='/image/icon/approach.svg#approach')
            .readiness-list__title
              h4 Комплексный подход
            .readiness-list__text
              p Комплексный подход и&nbsp;продуманный учебный план позволяет быстро развить навыки устной речи, аудирования, чтения и&nbsp;письма.
        .readiness-prev
          svg
            use(href='/image/icon/arrow.svg#arrow')
        .readiness-next
          svg
            use(href='/image/icon/arrow.svg#arrow')
  section#docs
    .container
      .docs.content
        .docs__title.object-wrapper
          h2.object Дипломы и сертификаты
        ul.docs-list.object-wrapper
          li.docs-list__item.object
            a.docs-list__link(href='/file/Диплом%20МГЛУ%20о%20высшем%20образовании%20с%20отличием.pdf' target='_blank' title='Диплом МГЛУ о высшем образовании с отличием')
              .docs-list__image
                img(src='/image/preview/file_1.png' srcset='/image/preview/file_1@2x.png 2x, /image/preview/file_1@3x.png 3x' loading='lazy' alt='image')
              .docs-list__type pdf
              .docs-list__text
                p Диплом МГЛУ о&nbsp;высшем образовании с&nbsp;отличием
          li.docs-list__item.object
            a.docs-list__link(href='/file/Сертификат%20о%20прохождении%20языковой%20стажировки.jpeg' target='_blank' title='Сертификат о прохождении языковой стажировки')
              .docs-list__image
                img(src='/image/preview/file_2.png' srcset='/image/preview/file_2@2x.png 2x, /image/preview/file_2@3x.png 3x' loading='lazy' alt='image')
              .docs-list__type jpg
              .docs-list__text
                p Сертификат о&nbsp;прохождении языковой стажировки
          li.docs-list__item.object
            a.docs-list__link(href='/file/Сертификат%20Института%20Конфуция%20МГЛУ.jpeg' target='_blank' title='Сертификат Института Конфуция МГЛУ')
              .docs-list__image
                img(src='/image/preview/file_3.png' srcset='/image/preview/file_3@2x.png 2x, /image/preview/file_3@3x.png 3x' loading='lazy' alt='image')
              .docs-list__type jpg
              .docs-list__text
                p Сертификат Института Конфуция МГЛУ
          li.docs-list__item.object
            a.docs-list__link(href='/file/Сертификат%20об%20окончании%20курсов%20китайского%20языка.jpeg' target='_blank' title='Сертификат об окончании курсов китайского языка')
              .docs-list__image
                img(src='/image/preview/file_4.png' srcset='/image/preview/file_4@2x.png 2x, /image/preview/file_4@3x.png 3x' loading='lazy' alt='image')
              .docs-list__type jpg
              .docs-list__text
                p Сертификат об&nbsp;окончании курсов китайского языка
  section#faq
    .container
      .faq.content
        .faq__title.object-wrapper
          h2.object Вопрос/Ответ
        ul.faq-list.object-wrapper
          li.faq-list__item.object
            .faq-list__question(area-expanded='false')
              .faq-list__title
                h4 Как проходит онлайн занятие по китайскому языку?
              .faq-list__icon
                svg
                  use(href='/image/icon/plus.svg#plus')
            .faq-list__answer
              .faq-list__text
                p Все занятия проводятся онлайн в удобный для тебя день и время. Программа обучения будет построена в зависимости от индивидуальных целей: сдача международного экзамена HSK/HSKK, поступление в китайский ВУЗ, деловая коммуникации, свободное общение и т.д. Для меня важен именно твой результат, поэтому на каждом уроке я проверяю степень усвоения пройденного материала. 90% всего занятия проводится только на иностранном языке (начиная с уровня A2). Моя главная цель – научить разговаривать свободно, грамотно и в кратчайшие сроки.
          li.faq-list__item.object
            .faq-list__question(area-expanded='false')
              .faq-list__title
                h4 Что такое бесплатный пробный урок?
              .faq-list__icon
                svg
                  use(href='/image/icon/plus.svg#plus')
            .faq-list__answer
              .faq-list__text
                p На первом пробном уроке мы вместе подберем наиболее подходящую программу обучения, я определю твой уровень знания языка, а также отвечу на все интересующие вопросы о процессе обучения. Кроме того, ты сможешь оценить качество обучения и методику обучения, выразить свои пожелания и рассказать о каких-либо предпочтениях. После прохождения пробного урока я буду знать твои цели и задачи и смогу разработать индивидуальную программу именно для тебя. Длительность пробного урока составляет 40 минут, поэтому важно помнить, о том, что время ограничено.
          li.faq-list__item.object
            .faq-list__question(area-expanded='false')
              .faq-list__title
                h4 Какие основные преимущества онлайн-обучения?
              .faq-list__icon
                svg
                  use(href='/image/icon/plus.svg#plus')
            .faq-list__answer
              .faq-list__text
                p Многие убеждены, что онлайн обучение менее эффективно. По правде говоря, раньше я придерживалась такого же мнения. Когда я только начала преподавать онлайн, у меня были сомнения, можно ли добиться таких же высоких результатов, как в аудитории. Сейчас я с точностью могу заявить, что онлайн обучение намного круче, эффективнее, а также экономит твое время. Как видно, преимуществ домашнего обучения более, чем достаточно. Еще один нюанс. Использование современных технологий в значительной мере является показателем профессиональности каждого преподавателя.
          li.faq-list__item.object
            .faq-list__question(area-expanded='false')
              .faq-list__title
                h4 Я никогда не учила китайский, а в школе был другой язык. Подойдет ли мне?
              .faq-list__icon
                svg
                  use(href='/image/icon/plus.svg#plus')
            .faq-list__answer
              .faq-list__text
                p Я убеждена, что все получится. Первое и, пожалуй, главное в изучении языка – это мотивация и удовольствие. Многие ученики никогда не изучали китайский ранее, но уже осуществили свою мечту и поступили в китайский ВУЗ. Записывайся на пробное занятие и стань на шаг ближе к своей мечте.
          li.faq-list__item.object
            .faq-list__question(area-expanded='true')
              .faq-list__title
                h4 Действительно ли я буду учиться по индивидуальной программе?
              .faq-list__icon
                svg
                  use(href='/image/icon/minus.svg#minus')
            .faq-list__answer
              .faq-list__text
                p Все ученики приходят с разным стартовым уровнем знаний и навыков. Кроме того, у каждого свои цели, интересы и мотивация. Для этого первом бесплатном занятии я определяю твои речевые особенности и текущей уровень владения языком, составляю лингвопортрет. Исходя из этого, я разрабатываю персональный план обучения.
          li.faq-list__item.object
            .faq-list__question(area-expanded='false')
              .faq-list__title
                h4 Какие учебные материалы используются на занятиях?
              .faq-list__icon
                svg
                  use(href='/image/icon/plus.svg#plus')
            .faq-list__answer
              .faq-list__text
                p Мы будем заниматься по современным учебникам, разработанных лучшими издательствами Китая. Помимо учебников, мы будем смотреть видео, слушать аудио-материалы, читать аутентичные тексты из газет и журналов.
  section#banner
    .container
      include include/banner

public/index.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Say Nihao</title>
    <!-- meta-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Школа китайского языка">
    <meta name="author" content="Ilya Lynd <ilya.lynd@gmail.com>">
    <meta name="theme-color" content="#fbf6f0">
    <!-- icon & css-->
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
  <link href="/assets/css/vendors.css?v=ec01399" rel="stylesheet"><link href="/assets/css/main.css?v=5b217af" rel="stylesheet"></head>
  <body>
    <div id="app">
<header>
  <div class="container">
    <div class="header content">
      <div class="header-logo"><a href="/" title="Say Nihao"><img src="/image/logo.svg" alt="Say Nihao"></a></div>
      <nav class="header-menu">
        <ul>
          <li class="current"><a href="/" title="Для взрослых">Для взрослых</a></li>
          <li><a href="/for_children.html" title="Для детей">Для детей</a></li>
          <li><a href="/for_businesses.html" title="Для компаний">Для компаний</a></li>
          <li><a href="#" data-action="open-popup" data-popup="request" title="Записаться">Записаться</a></li>
        </ul>
      </nav>
      <div class="header-menu-bar"><a href="#" data-action="open-menu" title="Открыть меню">
          <svg>
            <use href="/image/icon/menu.svg#menu"></use>
          </svg></a></div>
    </div>
  </div>
</header>
<!-- Menu-->
<div class="menu"><a class="menu__close" href="#" data-action="close-menu" title="Закрыть меню">
    <svg>
      <use href="/image/icon/close.svg#close"></use>
    </svg></a>
  <div class="container">
    <div class="main content">
      <nav class="main-menu">
        <ul>
          <li><a href="/" title="Для взрослых">Для взрослых</a></li>
          <li><a href="/for_children.html" title="Для детей">Для детей</a></li>
          <li><a href="/for_businesses.html" title="Компаниям">Компаниям</a></li>
        </ul>
      </nav>
      <div class="main-social">
        <div class="main-social__text">
          <p>Я в сети:</p>
        </div>
        <ul class="main-social-list">
          <li class="main-social-list__link"><a href="//www.instagram.com/saynihao" target="_blank" title="Инстаграм">
              <svg class="instagram">
                <use href="/image/icon/instagram.svg#instagram"></use>
              </svg></a></li>
          <li class="main-social-list__link"><a href="//vk.com/saynihao" target="_blank" title="ВКонтакте">
              <svg class="vk">
                <use href="/image/icon/vk.svg#vk"></use>
              </svg></a></li>
          <li class="main-social-list__link"><a href="tg://resolve?domain=saynihao" title="Телеграм">
              <svg class="telegram">
                <use href="/image/icon/telegram.svg#telegram"></use>
              </svg></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- Menu end-->
      <main>
        <section id="index">
          <div class="container">
            <div class="index content object-wrapper">
              <div class="index__main object">
                <div class="index__title">
                  <h1>Репетитор<br>по <span>китайскому</span><br>языку онлайн</h1>
                </div>
                <div class="index__lead">Учись весело и просто,<br>без&nbsp;переутомления и зубрежки.</div>
                <div class="index__button">
                  <div class="button"><a href="#" data-action="open-popup" data-popup="request" title="Записаться">Записаться</a><a href="#" data-action="open-popup" data-popup="request" title="Попробовать бесплатно">Попробовать бесплатно</a></div>
                </div>
              </div>
              <div class="index__image">
                <picture>
                  <source srcset="/image/illustration/main.png 1x, /image/illustration/main@2x.png 2x, /image/illustration/main@3x.png 3x" media="(min-width: 1248px)" type="image/png"><img src="/image/illustration/main.m.png" srcset="/image/illustration/main.m@2x.png 2x, /image/illustration/main.m@3x.png 3x" loading="eager" alt="illustration">
                </picture>
              </div>
              <div class="index__other"><img class="icons" src="/image/illustration/icons.png" srcset="/image/illustration/icons@2x.png 2x, /image/illustration/icons@3x.png 3x" loading="eager" alt="illustration"><img class="stars_1" src="/image/illustration/stars_1.png" srcset="/image/illustration/stars_1@2x.png 2x, /image/illustration/stars_1@3x.png 3x" loading="eager" alt="illustration"><img class="stars_2" src="/image/illustration/stars_2.png" srcset="/image/illustration/stars_2@2x.png 2x, /image/illustration/stars_2@3x.png 3x" loading="eager" alt="illustration"></div>
            </div>
          </div>
        </section>
        <section id="steps">
          <div class="container">
            <div class="steps content">
              <div class="steps__title object-wrapper">
                <h2 class="object">Думаешь, что китайский сложный?<br>Я докажу обратное</h2>
              </div>
              <ul class="steps-list object-wrapper">
                <li class="steps-list__item object">
                  <div class="steps-list__video">
                    <video playsinline autoplay muted loop>
                      <source src="/video/scene_1.mp4" type="video/mp4">
                    </video>
                  </div>
                  <div class="steps-list__title">
                    <h4>Оставить заявку</h4>
                  </div>
                  <div class="steps-list__text">
                    <p>Чтобы записаться на&nbsp;бесплатный пробный урок, необходимо заполнить регистрационную форму на&nbsp;сайте и&nbsp;отправить заявку.</p>
                  </div>
                </li>
                <li class="steps-list__item object">
                  <div class="steps-list__video">
                    <video playsinline autoplay muted loop>
                      <source src="/video/scene_2.mp4" type="video/mp4">
                    </video>
                  </div>
                  <div class="steps-list__title">
                    <h4>Заказать бесплатный урок</h4>
                  </div>
                  <div class="steps-list__text">
                    <p>После получения заявки я&nbsp;свяжусь с&nbsp;тобой для&nbsp;уточнения деталей. Мы&nbsp;вместе подберем удобную дату и время и&nbsp;назначим пробный урок.</p>
                  </div>
                </li>
                <li class="steps-list__item object">
                  <div class="steps-list__video">
                    <video playsinline autoplay muted loop>
                      <source src="/video/scene_3.mp4" type="video/mp4">
                    </video>
                  </div>
                  <div class="steps-list__title">
                    <h4>Приступить к занятиям</h4>
                  </div>
                  <div class="steps-list__text">
                    <p>После прохождения пробного урока я&nbsp;отправлю тебе индивидуальный план обучения с пошаговыми инструкциями и&nbsp;рекомендациями.</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </section>
        <section id="about">
          <div class="container">
            <div class="about content object-wrapper">
              <div class="about__photo"><img src="/image/photo/liza_1.png" srcset="/image/photo/liza_1@2x.png 2x, /image/photo/liza_1@3x.png 3x" loading="lazy" alt="photo"></div>
              <div class="about__main object">
                <div class="about__name">
                  <h2>Елизавета<br>Калигаева</h2>
                </div>
                <div class="about__vocation">Твой лучший лаоши</div>
                <div class="about__text">
                  <p>На уроках китайского я отдаю предпочтение коммуникативному подходу. Большая часть занятия – не&nbsp;заучивание отдельных фраз и&nbsp;не&nbsp;зубрежка грамматики. Все это занимает только 20% времени занятия. Остальное – практика!</p>
                </div>
                <div class="about__autograph"><img src="/image/autograph.png" srcset="/image/autograph@2x.png 2x, /image/autograph@3x.png 3x" loading="lazy" alt="autograph"></div>
              </div>
              <div class="about__photo"><img src="/image/photo/liza_2.png" srcset="/image/photo/liza_2@2x.png 2x, /image/photo/liza_2@3x.png 3x" loading="lazy" alt="photo"></div>
            </div>
            <div class="readiness content">
              <ul class="readiness-list swiper-wrapper">
                <li class="readiness-list__item swiper-slide">
                  <div class="readiness-list__icon">
                    <svg class="education">
                      <use href="/image/icon/education.svg#education"></use>
                    </svg>
                  </div>
                  <div class="readiness-list__title">
                    <h4>Учитель по диплому</h4>
                  </div>
                  <div class="readiness-list__text">
                    <p>Окончила Минский Государственный Лингвистический Университет с&nbsp;отличием по&nbsp;специальности «Преподаватель китайского языка».</p>
                  </div>
                </li>
                <li class="readiness-list__item swiper-slide">
                  <div class="readiness-list__icon">
                    <svg class="practice">
                      <use href="/image/icon/practice.svg#practice"></use>
                    </svg>
                  </div>
                  <div class="readiness-list__title">
                    <h4>Стажировалась в Китае</h4>
                  </div>
                  <div class="readiness-list__text">
                    <p>В 2019 году я улетела в Китай, где прошла языковую стажировку в&nbsp;Китайском Университете Политических Наук и Права.</p>
                  </div>
                </li>
                <li class="readiness-list__item swiper-slide">
                  <div class="readiness-list__icon">
                    <svg class="approach">
                      <use href="/image/icon/approach.svg#approach"></use>
                    </svg>
                  </div>
                  <div class="readiness-list__title">
                    <h4>Комплексный подход</h4>
                  </div>
                  <div class="readiness-list__text">
                    <p>Комплексный подход и&nbsp;продуманный учебный план позволяет быстро развить навыки устной речи, аудирования, чтения и&nbsp;письма.</p>
                  </div>
                </li>
              </ul>
              <div class="readiness-prev">
                <svg>
                  <use href="/image/icon/arrow.svg#arrow"></use>
                </svg>
              </div>
              <div class="readiness-next">
                <svg>
                  <use href="/image/icon/arrow.svg#arrow"></use>
                </svg>
              </div>
            </div>
          </div>
        </section>
        <section id="docs">
          <div class="container">
            <div class="docs content">
              <div class="docs__title object-wrapper">
                <h2 class="object">Дипломы и сертификаты</h2>
              </div>
              <ul class="docs-list object-wrapper">
                <li class="docs-list__item object"><a class="docs-list__link" href="/file/Диплом%20МГЛУ%20о%20высшем%20образовании%20с%20отличием.pdf" target="_blank" title="Диплом МГЛУ о высшем образовании с отличием">
                    <div class="docs-list__image"><img src="/image/preview/file_1.png" srcset="/image/preview/file_1@2x.png 2x, /image/preview/file_1@3x.png 3x" loading="lazy" alt="image"></div>
                    <div class="docs-list__type">pdf</div>
                    <div class="docs-list__text">
                      <p>Диплом МГЛУ о&nbsp;высшем образовании с&nbsp;отличием</p>
                    </div></a></li>
                <li class="docs-list__item object"><a class="docs-list__link" href="/file/Сертификат%20о%20прохождении%20языковой%20стажировки.jpeg" target="_blank" title="Сертификат о прохождении языковой стажировки">
                    <div class="docs-list__image"><img src="/image/preview/file_2.png" srcset="/image/preview/file_2@2x.png 2x, /image/preview/file_2@3x.png 3x" loading="lazy" alt="image"></div>
                    <div class="docs-list__type">jpg</div>
                    <div class="docs-list__text">
                      <p>Сертификат о&nbsp;прохождении языковой стажировки</p>
                    </div></a></li>
                <li class="docs-list__item object"><a class="docs-list__link" href="/file/Сертификат%20Института%20Конфуция%20МГЛУ.jpeg" target="_blank" title="Сертификат Института Конфуция МГЛУ">
                    <div class="docs-list__image"><img src="/image/preview/file_3.png" srcset="/image/preview/file_3@2x.png 2x, /image/preview/file_3@3x.png 3x" loading="lazy" alt="image"></div>
                    <div class="docs-list__type">jpg</div>
                    <div class="docs-list__text">
                      <p>Сертификат Института Конфуция МГЛУ</p>
                    </div></a></li>
                <li class="docs-list__item object"><a class="docs-list__link" href="/file/Сертификат%20об%20окончании%20курсов%20китайского%20языка.jpeg" target="_blank" title="Сертификат об окончании курсов китайского языка">
                    <div class="docs-list__image"><img src="/image/preview/file_4.png" srcset="/image/preview/file_4@2x.png 2x, /image/preview/file_4@3x.png 3x" loading="lazy" alt="image"></div>
                    <div class="docs-list__type">jpg</div>
                    <div class="docs-list__text">
                      <p>Сертификат об&nbsp;окончании курсов китайского языка</p>
                    </div></a></li>
              </ul>
            </div>
          </div>
        </section>
        <section id="faq">
          <div class="container">
            <div class="faq content">
              <div class="faq__title object-wrapper">
                <h2 class="object">Вопрос/Ответ</h2>
              </div>
              <ul class="faq-list object-wrapper">
                <li class="faq-list__item object">
                  <div class="faq-list__question" area-expanded="false">
                    <div class="faq-list__title">
                      <h4>Как проходит онлайн занятие по китайскому языку?</h4>
                    </div>
                    <div class="faq-list__icon">
                      <svg>
                        <use href="/image/icon/plus.svg#plus"></use>
                      </svg>
                    </div>
                  </div>
                  <div class="faq-list__answer">
                    <div class="faq-list__text">
                      <p>Все занятия проводятся онлайн в удобный для тебя день и время. Программа обучения будет построена в зависимости от индивидуальных целей: сдача международного экзамена HSK/HSKK, поступление в китайский ВУЗ, деловая коммуникации, свободное общение и т.д. Для меня важен именно твой результат, поэтому на каждом уроке я проверяю степень усвоения пройденного материала. 90% всего занятия проводится только на иностранном языке (начиная с уровня A2). Моя главная цель – научить разговаривать свободно, грамотно и в кратчайшие сроки.</p>
                    </div>
                  </div>
                </li>
                <li class="faq-list__item object">
                  <div class="faq-list__question" area-expanded="false">
                    <div class="faq-list__title">
                      <h4>Что такое бесплатный пробный урок?</h4>
                    </div>
                    <div class="faq-list__icon">
                      <svg>
                        <use href="/image/icon/plus.svg#plus"></use>
                      </svg>
                    </div>
                  </div>
                  <div class="faq-list__answer">
                    <div class="faq-list__text">
                      <p>На первом пробном уроке мы вместе подберем наиболее подходящую программу обучения, я определю твой уровень знания языка, а также отвечу на все интересующие вопросы о процессе обучения. Кроме того, ты сможешь оценить качество обучения и методику обучения, выразить свои пожелания и рассказать о каких-либо предпочтениях. После прохождения пробного урока я буду знать твои цели и задачи и смогу разработать индивидуальную программу именно для тебя. Длительность пробного урока составляет 40 минут, поэтому важно помнить, о том, что время ограничено.</p>
                    </div>
                  </div>
                </li>
                <li class="faq-list__item object">
                  <div class="faq-list__question" area-expanded="false">
                    <div class="faq-list__title">
                      <h4>Какие основные преимущества онлайн-обучения?</h4>
                    </div>
                    <div class="faq-list__icon">
                      <svg>
                        <use href="/image/icon/plus.svg#plus"></use>
                      </svg>
                    </div>
                  </div>
                  <div class="faq-list__answer">
                    <div class="faq-list__text">
                      <p>Многие убеждены, что онлайн обучение менее эффективно. По правде говоря, раньше я придерживалась такого же мнения. Когда я только начала преподавать онлайн, у меня были сомнения, можно ли добиться таких же высоких результатов, как в аудитории. Сейчас я с точностью могу заявить, что онлайн обучение намного круче, эффективнее, а также экономит твое время. Как видно, преимуществ домашнего обучения более, чем достаточно. Еще один нюанс. Использование современных технологий в значительной мере является показателем профессиональности каждого преподавателя.</p>
                    </div>
                  </div>
                </li>
                <li class="faq-list__item object">
                  <div class="faq-list__question" area-expanded="false">
                    <div class="faq-list__title">
                      <h4>Я никогда не учила китайский, а в школе был другой язык. Подойдет ли мне?</h4>
                    </div>
                    <div class="faq-list__icon">
                      <svg>
                        <use href="/image/icon/plus.svg#plus"></use>
                      </svg>
                    </div>
                  </div>
                  <div class="faq-list__answer">
                    <div class="faq-list__text">
                      <p>Я убеждена, что все получится. Первое и, пожалуй, главное в изучении языка – это мотивация и удовольствие. Многие ученики никогда не изучали китайский ранее, но уже осуществили свою мечту и поступили в китайский ВУЗ. Записывайся на пробное занятие и стань на шаг ближе к своей мечте.</p>
                    </div>
                  </div>
                </li>
                <li class="faq-list__item object">
                  <div class="faq-list__question" area-expanded="true">
                    <div class="faq-list__title">
                      <h4>Действительно ли я буду учиться по индивидуальной программе?</h4>
                    </div>
                    <div class="faq-list__icon">
                      <svg>
                        <use href="/image/icon/minus.svg#minus"></use>
                      </svg>
                    </div>
                  </div>
                  <div class="faq-list__answer">
                    <div class="faq-list__text">
                      <p>Все ученики приходят с разным стартовым уровнем знаний и навыков. Кроме того, у каждого свои цели, интересы и мотивация. Для этого первом бесплатном занятии я определяю твои речевые особенности и текущей уровень владения языком, составляю лингвопортрет. Исходя из этого, я разрабатываю персональный план обучения.</p>
                    </div>
                  </div>
                </li>
                <li class="faq-list__item object">
                  <div class="faq-list__question" area-expanded="false">
                    <div class="faq-list__title">
                      <h4>Какие учебные материалы используются на занятиях?</h4>
                    </div>
                    <div class="faq-list__icon">
                      <svg>
                        <use href="/image/icon/plus.svg#plus"></use>
                      </svg>
                    </div>
                  </div>
                  <div class="faq-list__answer">
                    <div class="faq-list__text">
                      <p>Мы будем заниматься по современным учебникам, разработанных лучшими издательствами Китая. Помимо учебников, мы будем смотреть видео, слушать аудио-материалы, читать аутентичные тексты из газет и журналов.</p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </section>
        <section id="banner">
          <div class="container">
<div class="banner content">
  <div class="banner__title">
    <h2>Бесплатный<br>пробный урок</h2>
  </div>
  <div class="banner__button">
    <div class="button"><a href="#" data-action="open-popup" data-popup="request" title="Записаться">Записаться</a></div>
  </div>
  <div class="banner__image">
    <picture>
      <source srcset="/image/banner/free_lesson.png 1x, /image/banner/free_lesson@2x.png 2x, /image/banner/free_lesson@3x.png 3x" media="(min-width: 768px)" type="image/png"><img src="/image/banner/free_lesson.m.png" srcset="/image/banner/free_lesson.m@2x.png 2x, /image/banner/free_lesson.m@3x.png 3x" loading="eager" alt="illustration">
    </picture>
  </div>
</div>
          </div>
        </section>
      </main>
<footer>
  <div class="container">
    <div class="footer content">
      <div class="footer__group">
        <nav class="footer-menu">
          <ul>
            <li><a href="/" title="Для взрослых">Для взрослых</a></li>
            <li><a href="/for_children.html" title="Для детей">Для детей</a></li>
            <li><a href="/for_businesses.html" title="Для компаний">Для компаний</a></li>
            <li><a href="/privacy.html" title="Политика конфиденциальности">Политика конфиденциальности</a></li>
          </ul>
        </nav>
        <div class="footer-social">
          <div class="footer-social__text">
            <p>Я в сети:</p>
          </div>
          <ul class="footer-social-list">
            <li class="footer-social-list__link"><a href="//www.instagram.com/saynihao" target="_blank" title="Инстаграм">
                <svg class="instagram">
                  <use href="/image/icon/instagram.svg#instagram"></use>
                </svg></a></li>
            <li class="footer-social-list__link"><a href="//vk.com/saynihao" target="_blank" title="ВКонтакте">
                <svg class="vk">
                  <use href="/image/icon/vk.svg#vk"></use>
                </svg></a></li>
            <li class="footer-social-list__link"><a href="tg://resolve?domain=saynihao" title="Телеграм">
                <svg class="telegram">
                  <use href="/image/icon/telegram.svg#telegram"></use>
                </svg></a></li>
          </ul>
        </div>
      </div>
      <div class="footer-copyright">
        <p>&copy; 2022 Saynihao.ru – китайский просто!</p>
      </div>
    </div>
  </div>
</footer>
    </div>
<!-- Popup-->
<div class="popup">
  <div class="popup-overlay" data-action="close-popup"></div>
  <!-- Заявка на пробное занятие-->
  <div class="request popup__module popup__module--center"><a class="popup__close" href="#" data-action="close-popup" title="Закрыть окно">
      <svg>
        <use href="/image/icon/close.svg#close"></use>
      </svg></a>
    <div class="request__title">
      <h3>Заявка на пробное<br>занятие</h3>
    </div>
    <form class="form request__form" name="request" action="/" autocomplete="off" accept-charset="utf-8">
      <fieldset class="form__line">
        <div class="form__group">
          <label class="form__label" for="request-name">Имя</label>
          <input class="form__input" id="request-name" type="text" name="name" required placeholder="Ваше имя" value="" title="Введите ваше имя">
        </div>
      </fieldset>
      <fieldset class="form__line">
        <div class="form__group">
          <label class="form__label" for="request-email">Email</label>
          <input class="form__input" id="request-email" type="email" name="email" required placeholder="Ваш email" value="" title="Введите ваш email">
        </div>
      </fieldset>
      <fieldset class="form__line">
        <div class="form__group">
          <label class="form__label" for="request-comment">Комментарий</label>
          <textarea class="form__textarea" id="request-comment" name="comment" placeholder="Ваше сообщение…" value="" title="Введите ваше сообщение"></textarea>
        </div>
      </fieldset>
      <div class="form__button">
        <div class="button"><a href="#" data-action="send-form" title="Отправить заявку">Отправить заявку</a></div>
      </div>
    </form>
  </div>
  <!-- Спасибо-->
  <div class="thanks popup__module popup__module--center"><a class="popup__close" href="#" data-action="close-popup" title="Закрыть окно">
      <svg>
        <use href="/image/icon/close.svg#close"></use>
      </svg></a>
    <div class="thanks__title">
      <h3>Спасибо!</h3>
    </div>
    <div class="thanks__text">
      <p>Ваша заявка принята.<br>Я скоро свяжусь с вами.</p>
    </div>
  </div>
</div>
<!-- Popup end-->
    <!-- js-->
  <script defer src="/assets/js/vendors.js?v=41916ad"></script><script defer src="/assets/js/main.js?v=ef71b14"></script></body>
</html>
