public/privacy.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Say Nihao</title>
    <!-- meta-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Школа китайского языка">
    <meta name="author" content="Ilya Lynd <ilya.lynd@gmail.com>">
    <meta name="theme-color" content="#fbf6f0">
    <!-- icon & css-->
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
  <link href="/assets/css/vendors.css?v=ec01399" rel="stylesheet"><link href="/assets/css/main.css?v=5b217af" rel="stylesheet"></head>
  <body>
    <div id="app">
<header>
  <div class="container">
    <div class="header content">
      <div class="header-logo"><a href="/" title="Say Nihao"><img src="/image/logo.svg" alt="Say Nihao"></a></div>
      <nav class="header-menu">
        <ul>
          <li><a href="/" title="Для взрослых">Для взрослых</a></li>
          <li><a href="/for_children.html" title="Для детей">Для детей</a></li>
          <li><a href="/for_businesses.html" title="Для компаний">Для компаний</a></li>
          <li><a href="#" data-action="open-popup" data-popup="request" title="Записаться">Записаться</a></li>
        </ul>
      </nav>
      <div class="header-menu-bar"><a href="#" data-action="open-menu" title="Открыть меню">
          <svg>
            <use href="/image/icon/menu.svg#menu"></use>
          </svg></a></div>
    </div>
  </div>
</header>
<!-- Menu-->
<div class="menu"><a class="menu__close" href="#" data-action="close-menu" title="Закрыть меню">
    <svg>
      <use href="/image/icon/close.svg#close"></use>
    </svg></a>
  <div class="container">
    <div class="main content">
      <nav class="main-menu">
        <ul>
          <li><a href="/" title="Для взрослых">Для взрослых</a></li>
          <li><a href="/for_children.html" title="Для детей">Для детей</a></li>
          <li><a href="/for_businesses.html" title="Компаниям">Компаниям</a></li>
        </ul>
      </nav>
      <div class="main-social">
        <div class="main-social__text">
          <p>Я в сети:</p>
        </div>
        <ul class="main-social-list">
          <li class="main-social-list__link"><a href="//www.instagram.com/saynihao" target="_blank" title="Инстаграм">
              <svg class="instagram">
                <use href="/image/icon/instagram.svg#instagram"></use>
              </svg></a></li>
          <li class="main-social-list__link"><a href="//vk.com/saynihao" target="_blank" title="ВКонтакте">
              <svg class="vk">
                <use href="/image/icon/vk.svg#vk"></use>
              </svg></a></li>
          <li class="main-social-list__link"><a href="tg://resolve?domain=saynihao" title="Телеграм">
              <svg class="telegram">
                <use href="/image/icon/telegram.svg#telegram"></use>
              </svg></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- Menu end-->
      <main>
        <section id="privacy">
          <div class="container">
            <div class="privacy content-center">
              <div class="privacy__title">
                <h1>Политика конфиденциальности</h1>
              </div>
              <div class="privacy__text">
                <p>Настоящая Политика конфиденциальности персональных данных (далее – Политика конфиденциальности) действует в отношении всей информации, которую Школа китайского языка Say Nihao, расположенная на доменном имени <a href="/" title="Say Nihao">saynihao.ru</a>, может получить о Пользователе во время использования сайта Школы, программ и продуктов Школы.</p>
              </div>
              <div class="privacy__subtitle">
                <h4>1. Определение терминов</h4>
              </div>
              <div class="privacy__text">
                <p>1.1. В настоящей Политике конфиденциальности используются следующие термины:</p>
                <p>1.1.1. «Администрация сайта Школы (далее – Администрация сайта)» – уполномоченные сотрудники на управления сайтом, действующие от имени Школы китайского языка Say Nihao, которые организуют и (или) осуществляют обработку персональных данных, а также определяют цели обработки персональных данных, состав персональных данных, подлежащих обработке, действия (операции), совершаемые с персональными данными.</p>
                <p>1.1.2. «Персональные данные» – любая информация, относящаяся к прямо или косвенно определенному или определяемому физическому лицу (субъекту персональных данных).</p>
                <p>1.1.3. «Обработка персональных данных» – любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных.</p>
                <p>1.1.4. «Конфиденциальность персональных данных» – обязательное для соблюдения Оператором или иным получившим доступ к персональным данным лицом требование не допускать их распространения без согласия субъекта персональных данных или наличия иного законного основания.</p>
                <p>1.1.5. «Пользователь сайта Школы (далее – Пользователь)» – лицо, имеющее доступ к Сайту, посредством сети Интернет и использующее Сайт Школы.</p>
                <p>1.1.6. «Cookies» – небольшой фрагмент данных, отправленный веб-сервером и хранимый на компьютере пользователя, который веб-клиент или веб-браузер каждый раз пересылает веб-серверу в HTTP-запросе при попытке открыть страницу соответствующего сайта.</p>
                <p>1.1.7. «IP-адрес» – уникальный сетевой адрес узла в компьютерной сети, построенной по протоколу IP.</p>
              </div>
              <div class="privacy__subtitle">
                <h4>2. Общие положения</h4>
              </div>
              <div class="privacy__text">
                <p>2.1. Использование Пользователем сайта Школы означает согласие с настоящей Политикой конфиденциальности и условиями обработки персональных данных Пользователя.</p>
                <p>2.2. В случае несогласия с условиями Политики конфиденциальности Пользователь должен прекратить использование сайта Школы.</p>
                <p>2.3. Настоящая Политика конфиденциальности применяется только к сайту Школы китайского языка Say Nihao. Школа не контролирует и не несет ответственность за сайты третьих лиц, на которые Пользователь может перейти по ссылкам, доступным на сайте Школы.</p>
                <p>2.4. Администрация сайта не проверяет достоверность персональных данных, предоставляемых Пользователем сайта Школы.</p>
              </div>
              <div class="privacy__subtitle">
                <h4>3. Предмет договора</h4>
              </div>
              <div class="privacy__text">
                <p>3.1. Предметом настоящей Оферты является возмездное оказание Исполнителем информационно-консультационных услуг путем проведения тематических семинаров, курсов, мастер-классов и др. очно или онлайн (далее – Услуги), в порядке, предусмотренном настоящей Офертой. Длительные курсы состоят из модулей. Оказание услуг по каждому модулю осуществляется путем заключения нового Договора-оферты (Заказчик акцептует Оферту на каждый конкретный модуль).</p>
                <p>3.2. Заказчик подтверждает, что до момента заключения Договора (акцепта настоящей Оферты) получил от Исполнителя всю полную информацию о сроках, порядке оказания услуг.</p>
                <p>3.3. Заказчик подтверждает, что результатом услуг в рамках настоящей Оферты будут являться действия Исполнителя по проведению тематических семинаров, курсов, мастер-классов и др. в очной форме или форме онлайн-трансляции по сети Интернет.</p>
                <p>3.4. Перечень тематических семинаров, курсов, мастер-классов и др. в сети Интернет расположены на сайте <a href="/" title="Say Nihao">saynihao.ru</a></p>
                <p>3.5. Исполнитель имеет право в любой момент изменять условия настоящей публичной оферты в одностороннем порядке без предварительного согласования с Заказчиком.</p>
              </div>
              <div class="privacy__subtitle">
                <h4>4. Цели обработки персональных данных</h4>
              </div>
              <div class="privacy__text">
                <p>4.1. Цель обработки персональных данных Пользователя – информирование Пользователя посредством отправки электронных писем; предоставление доступа Пользователю к сервисам, информации и/или материалам, содержащимся на веб-сайте.</p>
                <p>4.2. Также Оператор имеет право направлять Пользователю уведомления о новых продуктах и услугах, специальных предложениях и различных событиях. Пользователь всегда может отказаться от получения информационных сообщений, направив Оператору письмо на адрес электронной почты <a href="mailto:info@saynihao.ru" title="info@saynihao.ru">info@saynihao.ru</a> с пометкой «Отказ от уведомлениях о новых продуктах и услугах и специальных предложениях».</p>
                <p>4.3. Обезличенные данные Пользователей, собираемые с помощью сервисов интернет-статистики, служат для сбора информации о действиях Пользователей на сайте, улучшения качества сайта и его содержания.</p>
              </div>
              <div class="privacy__subtitle">
                <h4>5. Порядок сбора и хранения персональных данных</h4>
              </div>
              <div class="privacy__text">
                <p>5.1. Оператор обеспечивает сохранность персональных данных и принимает все возможные меры, исключающие доступ к персональным данным неуполномоченных лиц.<br>Персональные данные Пользователя никогда, ни при каких условиях не будут переданы третьим лицам, за исключением случаев, связанных с исполнением действующего законодательства.</p>
                <p>5.2. В случае выявления неточностей в персональных данных, Пользователь может актуализировать их самостоятельно, путем направления Оператору уведомление на адрес электронной почты Оператора <a href="mailto:info@saynihao.ru" title="info@saynihao.ru">info@saynihao.ru</a> с пометкой «Актуализация персональных данных».</p>
                <p>5.3. Срок обработки персональных данных является неограниченным. Пользователь может в любой момент отозвать свое согласие на обработку персональных данных, направив Оператору уведомление посредством электронной почты на электронный адрес Оператора <a href="mailto:info@saynihao.ru" title="info@saynihao.ru">info@saynihao.ru</a> с пометкой «Отзыв согласия на обработку персональных данных».</p>
              </div>
              <div class="privacy__subtitle">
                <h4>6. Прочие условия</h4>
              </div>
              <div class="privacy__text">
                <p>6.1. Стороны признают, что, если какое-либо из положений Оферты становится недействительным в течение срока его действия вследствие изменения законодательства, остальные положения Оферты обязательны для Сторон в течение срока действия Оферты.</p>
                <p>6.2. Исполнитель не несет ответственности за результат использования или полезность оказываемых Услуг. В случае несоответствия состава Услуг, предоставляемых в рамках действующего Договора-оферты, потребностям Заказчика, Исполнитель ответственности не несет.</p>
              </div>
            </div>
          </div>
        </section>
        <section class="section">
          <div class="container">
<div class="banner content">
  <div class="banner__title">
    <h2>Бесплатный<br>пробный урок</h2>
  </div>
  <div class="banner__button">
    <div class="button"><a href="#" data-action="open-popup" data-popup="request" title="Записаться">Записаться</a></div>
  </div>
  <div class="banner__image">
    <picture>
      <source srcset="/image/banner/free_lesson.png 1x, /image/banner/free_lesson@2x.png 2x, /image/banner/free_lesson@3x.png 3x" media="(min-width: 768px)" type="image/png"><img src="/image/banner/free_lesson.m.png" srcset="/image/banner/free_lesson.m@2x.png 2x, /image/banner/free_lesson.m@3x.png 3x" loading="eager" alt="illustration">
    </picture>
  </div>
</div>
          </div>
        </section>
      </main>
<footer>
  <div class="container">
    <div class="footer content">
      <div class="footer__group">
        <nav class="footer-menu">
          <ul>
            <li><a href="/" title="Для взрослых">Для взрослых</a></li>
            <li><a href="/for_children.html" title="Для детей">Для детей</a></li>
            <li><a href="/for_businesses.html" title="Для компаний">Для компаний</a></li>
            <li><a href="/privacy.html" title="Политика конфиденциальности">Политика конфиденциальности</a></li>
          </ul>
        </nav>
        <div class="footer-social">
          <div class="footer-social__text">
            <p>Я в сети:</p>
          </div>
          <ul class="footer-social-list">
            <li class="footer-social-list__link"><a href="//www.instagram.com/saynihao" target="_blank" title="Инстаграм">
                <svg class="instagram">
                  <use href="/image/icon/instagram.svg#instagram"></use>
                </svg></a></li>
            <li class="footer-social-list__link"><a href="//vk.com/saynihao" target="_blank" title="ВКонтакте">
                <svg class="vk">
                  <use href="/image/icon/vk.svg#vk"></use>
                </svg></a></li>
            <li class="footer-social-list__link"><a href="tg://resolve?domain=saynihao" title="Телеграм">
                <svg class="telegram">
                  <use href="/image/icon/telegram.svg#telegram"></use>
                </svg></a></li>
          </ul>
        </div>
      </div>
      <div class="footer-copyright">
        <p>&copy; 2022 Saynihao.ru – китайский просто!</p>
      </div>
    </div>
  </div>
</footer>
    </div>
<!-- Popup-->
<div class="popup">
  <div class="popup-overlay" data-action="close-popup"></div>
  <!-- Заявка на пробное занятие-->
  <div class="request popup__module popup__module--center"><a class="popup__close" href="#" data-action="close-popup" title="Закрыть окно">
      <svg>
        <use href="/image/icon/close.svg#close"></use>
      </svg></a>
    <div class="request__title">
      <h3>Заявка на пробное<br>занятие</h3>
    </div>
    <form class="form request__form" name="request" action="/" autocomplete="off" accept-charset="utf-8">
      <fieldset class="form__line">
        <div class="form__group">
          <label class="form__label" for="request-name">Имя</label>
          <input class="form__input" id="request-name" type="text" name="name" required placeholder="Ваше имя" value="" title="Введите ваше имя">
        </div>
      </fieldset>
      <fieldset class="form__line">
        <div class="form__group">
          <label class="form__label" for="request-email">Email</label>
          <input class="form__input" id="request-email" type="email" name="email" required placeholder="Ваш email" value="" title="Введите ваш email">
        </div>
      </fieldset>
      <fieldset class="form__line">
        <div class="form__group">
          <label class="form__label" for="request-comment">Комментарий</label>
          <textarea class="form__textarea" id="request-comment" name="comment" placeholder="Ваше сообщение…" value="" title="Введите ваше сообщение"></textarea>
        </div>
      </fieldset>
      <div class="form__button">
        <div class="button"><a href="#" data-action="send-form" title="Отправить заявку">Отправить заявку</a></div>
      </div>
    </form>
  </div>
  <!-- Спасибо-->
  <div class="thanks popup__module popup__module--center"><a class="popup__close" href="#" data-action="close-popup" title="Закрыть окно">
      <svg>
        <use href="/image/icon/close.svg#close"></use>
      </svg></a>
    <div class="thanks__title">
      <h3>Спасибо!</h3>
    </div>
    <div class="thanks__text">
      <p>Ваша заявка принята.<br>Я скоро свяжусь с вами.</p>
    </div>
  </div>
</div>
<!-- Popup end-->
    <!-- js-->
  <script defer src="/assets/js/vendors.js?v=41916ad"></script><script defer src="/assets/js/main.js?v=ef71b14"></script></body>
</html>

src/view/privacy.pug
extends include/main

block variables
  - let title = 'Say Nihao'
  - let description = 'Школа китайского языка'
  - let page = 'privacy'

block content
  section#privacy
    .container
      .privacy.content-center
        .privacy__title
          h1 Политика конфиденциальности
        .privacy__text
          p
            | Настоящая Политика конфиденциальности персональных данных (далее – Политика конфиденциальности) действует в отношении всей информации, которую Школа китайского языка Say Nihao, расположенная на доменном имени 
            a(href='/' title='Say Nihao') saynihao.ru
            | , может получить о Пользователе во время использования сайта Школы, программ и продуктов Школы.
        .privacy__subtitle
          h4 1. Определение терминов
        .privacy__text
          p 1.1. В настоящей Политике конфиденциальности используются следующие термины:
          p 1.1.1. «Администрация сайта Школы (далее – Администрация сайта)» – уполномоченные сотрудники на управления сайтом, действующие от имени Школы китайского языка Say Nihao, которые организуют и (или) осуществляют обработку персональных данных, а также определяют цели обработки персональных данных, состав персональных данных, подлежащих обработке, действия (операции), совершаемые с персональными данными.
          p 1.1.2. «Персональные данные» – любая информация, относящаяся к прямо или косвенно определенному или определяемому физическому лицу (субъекту персональных данных).
          p 1.1.3. «Обработка персональных данных» – любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных.
          p 1.1.4. «Конфиденциальность персональных данных» – обязательное для соблюдения Оператором или иным получившим доступ к персональным данным лицом требование не допускать их распространения без согласия субъекта персональных данных или наличия иного законного основания.
          p 1.1.5. «Пользователь сайта Школы (далее – Пользователь)» – лицо, имеющее доступ к Сайту, посредством сети Интернет и использующее Сайт Школы.
          p 1.1.6. «Cookies» – небольшой фрагмент данных, отправленный веб-сервером и хранимый на компьютере пользователя, который веб-клиент или веб-браузер каждый раз пересылает веб-серверу в HTTP-запросе при попытке открыть страницу соответствующего сайта.
          p 1.1.7. «IP-адрес» – уникальный сетевой адрес узла в компьютерной сети, построенной по протоколу IP.
        .privacy__subtitle
          h4 2. Общие положения
        .privacy__text
          p 2.1. Использование Пользователем сайта Школы означает согласие с настоящей Политикой конфиденциальности и условиями обработки персональных данных Пользователя.
          p 2.2. В случае несогласия с условиями Политики конфиденциальности Пользователь должен прекратить использование сайта Школы.
          p 2.3. Настоящая Политика конфиденциальности применяется только к сайту Школы китайского языка Say Nihao. Школа не контролирует и не несет ответственность за сайты третьих лиц, на которые Пользователь может перейти по ссылкам, доступным на сайте Школы.
          p 2.4. Администрация сайта не проверяет достоверность персональных данных, предоставляемых Пользователем сайта Школы.
        .privacy__subtitle
          h4 3. Предмет договора
        .privacy__text
          p 3.1. Предметом настоящей Оферты является возмездное оказание Исполнителем информационно-консультационных услуг путем проведения тематических семинаров, курсов, мастер-классов и др. очно или онлайн (далее – Услуги), в порядке, предусмотренном настоящей Офертой. Длительные курсы состоят из модулей. Оказание услуг по каждому модулю осуществляется путем заключения нового Договора-оферты (Заказчик акцептует Оферту на каждый конкретный модуль).
          p 3.2. Заказчик подтверждает, что до момента заключения Договора (акцепта настоящей Оферты) получил от Исполнителя всю полную информацию о сроках, порядке оказания услуг.
          p 3.3. Заказчик подтверждает, что результатом услуг в рамках настоящей Оферты будут являться действия Исполнителя по проведению тематических семинаров, курсов, мастер-классов и др. в очной форме или форме онлайн-трансляции по сети Интернет.
          p
            | 3.4. Перечень тематических семинаров, курсов, мастер-классов и др. в сети Интернет расположены на сайте 
            a(href='/' title='Say Nihao') saynihao.ru
          p 3.5. Исполнитель имеет право в любой момент изменять условия настоящей публичной оферты в одностороннем порядке без предварительного согласования с Заказчиком.
        .privacy__subtitle
          h4 4. Цели обработки персональных данных
        .privacy__text
          p 4.1. Цель обработки персональных данных Пользователя – информирование Пользователя посредством отправки электронных писем; предоставление доступа Пользователю к сервисам, информации и/или материалам, содержащимся на веб-сайте.
          p
            | 4.2. Также Оператор имеет право направлять Пользователю уведомления о новых продуктах и услугах, специальных предложениях и различных событиях. Пользователь всегда может отказаться от получения информационных сообщений, направив Оператору письмо на адрес электронной почты 
            a(href='mailto:info@saynihao.ru' title='info@saynihao.ru') info@saynihao.ru
            |  с пометкой «Отказ от уведомлениях о новых продуктах и услугах и специальных предложениях».
          p 4.3. Обезличенные данные Пользователей, собираемые с помощью сервисов интернет-статистики, служат для сбора информации о действиях Пользователей на сайте, улучшения качества сайта и его содержания.
        .privacy__subtitle
          h4 5. Порядок сбора и хранения персональных данных
        .privacy__text
          p
            | 5.1. Оператор обеспечивает сохранность персональных данных и принимает все возможные меры, исключающие доступ к персональным данным неуполномоченных лиц.
            br
            | Персональные данные Пользователя никогда, ни при каких условиях не будут переданы третьим лицам, за исключением случаев, связанных с исполнением действующего законодательства.
          p
            | 5.2. В случае выявления неточностей в персональных данных, Пользователь может актуализировать их самостоятельно, путем направления Оператору уведомление на адрес электронной почты Оператора 
            a(href='mailto:info@saynihao.ru' title='info@saynihao.ru') info@saynihao.ru
            |  с пометкой «Актуализация персональных данных».
          p
            | 5.3. Срок обработки персональных данных является неограниченным. Пользователь может в любой момент отозвать свое согласие на обработку персональных данных, направив Оператору уведомление посредством электронной почты на электронный адрес Оператора 
            a(href='mailto:info@saynihao.ru' title='info@saynihao.ru') info@saynihao.ru
            |  с пометкой «Отзыв согласия на обработку персональных данных».
        .privacy__subtitle
          h4 6. Прочие условия
        .privacy__text
          p 6.1. Стороны признают, что, если какое-либо из положений Оферты становится недействительным в течение срока его действия вследствие изменения законодательства, остальные положения Оферты обязательны для Сторон в течение срока действия Оферты.
          p 6.2. Исполнитель не несет ответственности за результат использования или полезность оказываемых Услуг. В случае несоответствия состава Услуг, предоставляемых в рамках действующего Договора-оферты, потребностям Заказчика, Исполнитель ответственности не несет.
  section.section
    .container
      include include/banner
